// Utilities Doc.
@import "./vars";

.container{
  width: 70%;
  margin: 0 auto;
}

.activeBar{
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 99;
  width: 100%;
  height: 8px;
  background-color: $principal-color;

}

.activeItem{
  color: $principal-color;
}

#footer-list-title{
  margin-bottom:15px ;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

#footer-third-title{
  font-weight: 700;
  text-transform: uppercase;
  color: $principal-color;
  margin-right: 30px;
}